body{
  background-image: url(../img/background.jpg);
  background-size: cover;
}

.wrapper{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
}

.header{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}

.btn_vote{
  margin: 50px 20px;
}


.btn_v {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  margin: 5px 20px;
  font-size: 20px;
  width: 100px;
  background-color: #d3f29b;
}

.btn_results{
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  visibility: hidden;
}

button{
  margin-top: 0;
  padding: 8px 10px;
  border: 2px solid black;
  background-color: white;  
} 

.header-res{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}

.pr_bar{
  margin-bottom: 40px;
  margin-top: 0;
}

.progress.col-4{
  padding: 0 0;
  height: 25px;
  border: 1px solid black;
}